* {
  padding: 0;
  margin: 0;
}

html, body, #app {
  height: 100%;
}

table {
  border-spacing: 0;
}

ul li {
  list-style: none;
}

a:link, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

.el-header, .el-footer {
  background-color: #409EFF;
  color: #fff;
  flex: 0 1 60px;
  line-height: 60px;
  padding: 0;
}

.el-footer {
  text-align: center;
}

.el-main {
  background-color: #fff;
  color: #333;
  padding: 0;
}

.page-title {
  padding-top: 10px;
  padding-left: 15px;
}

.toolbar {
  margin-top: 10px;
  margin-left: 15px;
}

.toolbar-input, .toolbar-button {
  float: left;
}

.toolbar-input {
  margin-right: 15px;
}

.pager {
  margin-top: 10px;
  margin-bottom: 10px;
}


